body {
  background-color: #93828A;
}

button {
	border-radius: 12px;
        font-family: "Palatino";}
button:hover { 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 #3d345e;
}

.navbar{
  /* The image used */
  background-image: url("meghivo.png");

  min-height: 360px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-family: "Palatino";
  font-style: italic;
  border: 5px solid #ddd;
  border-radius: 10px;
  font-size: 45px;
  background-color: #f5eeed;
}
h2
{
  font-family: "Palatino";
  border: 5px solid #ddd;
  border-radius: 10px;
  color: #f5eeed;
}
h3
{
  font-family: "Palatino";
}

h4
{
  font-family: "Palatino";
  color: #f5eeed;
}

p
{
  font-family: "Palatino";
}

img {
  border: 5px solid #ddd;
  border-radius: 10px;
}
